@import "normalize.css";

@import url("https://fonts.googleapis.com/css?family=Raleway");

*{
  box-sizing: border-box;
}

header{
  flex-wrap: wrap;
}

.container{
  flex-wrap: wrap;
}

.tags{
  display: none;
}

.indexContainer,
.servicesContainer,
.contactContainer {
  flex-wrap: wrap;
}

.servicesContainer{
  text-align: center;
  background-image: url("../img/Banner1-3.png");
  background-size: auto;
}

.services{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.oneService{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.infoContainer{
  padding: 20px 0px;
  background-image: url("../img/Banner1-2.png");
  background-size: cover;
  text-align: right;
  font-weight: bold;
}

.infoInformation p{
  padding-left: 60px;
}

.pinNav .socialMediaLogos{
  display: none;
}

.socialMediaLogos{
  display: flex;
}

.socialMediaLogos a{
  margin: 0px 1px;
  font-size: 30px;
}

.socialMediaLogos ion-icon{
  color: #004085;
}

.contactData{
  display: none;
}

.contactData a{
  text-decoration: none;
  color: white;
}

.wppLogo{
  color: #128C7E;
  font-size: 20px;
  margin-left: 5px;
}

.xslogo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.xslogo img {
  width: 70%;
}

.md-logo{
  display: none;
}

.interactivNav{
  background-image: url("../img/logo.png");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  height: 10vh;
  width: 100vw;
  justify-content: space-between;
  padding: 5px 5px;
}

.fixedNav{
  background-image: url("../img/logo.png");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
  padding: 5px 5px;
  width: 100vw;
  height: 10vh;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
}

.md-navbarListContainer{
  display: none;
}

.carousel{
  display: none;
}

.infoImage{
  display: none;
}

.indexFooter{
  margin-top: 20px;
}

.indexFooterLogo{
  display: none;
}

.dataTitle{
  border-bottom: solid 5px rgba(15, 27, 181, 1);
  border-radius: 5px;
  margin-bottom: 10px;
}

.dataTitle ion-icon{
  display: none;
}

.dataData{
  margin-bottom: 20px;
}

.dataData h4{
  font-size: 20px;
}

.dataData a{
  text-decoration: none;
  color: #333333;
}

.formContainer{
  margin-bottom: 30px;
}

@media (min-width:1024px){

  .interactivNav .socialMediaLogos{
    display: none;
  }

  .xslogo{
    display: none;
  }

  .pinNav{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    background-image: url("../img/pinnavBack.png");
    background-size: cover;
  }

  .pinNav .socialMediaLogos{
    display: flex;
  }

  .socialMediaLogos{
    margin: 5px 10px;
  }

  .socialMediaLogos a{
    font-size: 30px;
    margin-left: 10px;
  }

  .socialMediaLogos ion-icon{
    color: white;
  }

  .contactData{
    display: flex;
    position: absolute;
    right: 15px;
    margin: 0px 10px;
  }

  .contactData span{
    color: white;
    margin-left: 80px;
    margin-right: 20px;
    font-size: 17px;
  }

  .contactData ion-icon{
    margin-right: 15px;
  }

  .xslogo{
    display: none;
  }

  .interactivNav{
    flex-wrap: wrap;
    width: 100%;
    height: 13vh;
    justify-content: center;
    background-image: none;
  }

  .fixedNav{
    background-image: none;
    width: 100vw;
    height: 13vh;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .fixedNav .socialMediaLogos{
    display: none;
  }

  .md-logo{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
  }

  .md-logo img{
    height: 100%;
  }

  .xs-navbarListContainer{
    display: none;
  }

  .md-navbarListContainer{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px
  }

  .md-navbarListContainer ul{
    justify-content: space-around;
  }

  .navbarList{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0;
  }

  .navbarList li{
    list-style: none;
    margin: 0 2%;
  }

  .carousel{
    display: block;
  }

  .carousel-inner > .carousel-item > img {
    width: 100vw;
    height: 45vh;
  }

  .servicesContainer{
    margin-top: 5px;
    text-align: center;
    flex-wrap: wrap;
    background-image: none;
  }

  .services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3vh;
    height: 30vh;
  }

  .oneService{
    width: 15vw;
    height: 195px;
    flex-wrap: wrap;
  }

  .serviceDescription{
    text-align: justify;
  }

  .serviceDescription p{
    margin-bottom: 0;
  }

  .infoContainer{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    height: 85vh;
    margin-top: 1px;
    background-image: url("../img/infoback.png");
    background-size: cover;
    padding-top: 40px;
  }

  .infoInformation{
    padding-bottom: 15px;
  }

  .infoInformation h3{
    margin-bottom: 20px;
  }

  .infoInformation p{
    text-align: justify;
    padding-right: 15vw;
    padding-left: 0px;
  }

  .infoImage{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .infoImage img{
    width: 100%;
    height: auto;
  }

  .indexFooter{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .indexFooterLogo,
  .indexFooterContact{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    height: 40vh;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }

  .indexFooterLogo img{
    width: 100%;
  }

  .contactContainer{
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding-left: 0%;
    background-color: rgba(31, 126, 237, 0.6);
  }

  .formContainer,
  .dataContainer{
    display: flex;
    flex-wrap: wrap;
    padding-top: 6px;
    border: none;
  }

  #textareaContact{
  	resize: none;
  }

  .dataTitle{
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    border-bottom: solid 5px rgba(15, 27, 181, 1);
    border-radius: 5px;
    margin-bottom: 0px;
  }

  .dataTitle h2{
    margin-left: 15px;
  }

  .dataTitle ion-icon{
    font-size: 25px;
  }

  .dataData{
    height: 25%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: none;
  }

  .dataData h4{
    font-size: 25px;
    margin-bottom: 5px;
  }

  .dataData a{
    text-decoration: none;
    color: #333333;
  }

}
